body{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
    text-align: center;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

h2 {
    font-size: 48px;
    font-style: extra-bold;
}

a:link {
    text-decoration: none;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.first-half {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 15px;
    justify-content: center;
}

.bby1 {
    display: flex;
    justify-content: flex-end;
}

.bby2 {
    height: auto;
    width: 300px;
}

img {
    height: 150px;
    width: 150px;
    border: 1px solid #3882F6;
}

.second-half {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.image-part {
    display: flex;
    gap: 15px;
    justify-content:center
}

.info {
    max-width: 150px;
}

.third-part {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: light-italic;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
}


.fourth-part {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 30px;
    padding: 20px;
    background-color: #3882F6;
    color:#F9FAF8;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
}

button.first {
    background-color: #3882F6;
    border: 1px solid #3882F6;
    color: #F9FAF8;
}

button.second {
    background-color:#3882F6;
    border: 1.5px solid #F9FAF8;
    color:#F9FAF8;
}

.footer {
    background-color: #1F2937;
    color:#F9FAF8;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}